@import '../../../styles/color.css';

.Bar {
  -webkit-transition: 125ms ease-in-out;
  -moz-transition: 125ms ease-in-out;
  -o-transition: 125ms ease-in-out;
  transition: 125ms ease-in-out;
  width: 100%;
  background-color: var(--gray);
  margin: 1px;
}

.SelectedBar {
  margin: 0 0.7rem;
}

.BarStateA {
  background-color: var(--red);
}

.BarStateB {
  background-color: var(--yellow);
}

.BarStateC {
  background-color: var(--orange);
}

.BarStateD {
  background-color: var(--green);
}

.BarSorting {
  background-color: var(--blue);
}
