@import '../../../styles/color.css';

.Bar {
  width: 100px;
  background-color: var(--gray);
  margin: 1px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.BarStateA {
  background-color: var(--red);
}

.BarStateB {
  background-color: var(--yellow);
}

.BarStateC {
  background-color: var(--orange);
}

.BarStateD {
  background-color: var(--green);
}

.BarSorting {
  background-color: var(--blue);
}
